body{
background-color: hsl(47, 88%, 63%);
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.blog{
    background: hsl(0, 0%, 100%);
    font-family: "Figtree";
    font-weight: 500;
    height: 500px;
    width: 335px;
    max-width: 1440px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, 1), 12px 12px 0 rgba(0, 0, 0, 1), 6px 6px 12px rgba(0, 0, 0, 0.3);

}
header img{
    border-radius:10px;
    width: 100%;
}
h5{
    background: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: 5px;
    padding-bottom: 2.5px;
    height: 25px;
    text-align: left;
    width: 70px;
    border-radius: 5px;
}
main p{
    color: hsl(0, 0%, 42%);
}
a{
    text-decoration: none;
    color: black;
}
h2:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

footer p{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 800;
}

img{
    width: 40px;
}

@media (max-width:375px) {
    .blog{
        width: 200px;
    }

}
